{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Parolni tiklash</title>
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">  <!-- Sizning CSS faylingiz -->
</head>
<body>
    <div class="container">
        <h2>📩 Email yuborildi!</h2>
        <p>
            Parolni tiklash uchun havola emailingizga yuborildi.<br>
            Iltimos, pochtangizni tekshiring.
        </p>
        <a href="{% url 'post_list' %}"><button>Bosh sahifaga qaytish</button></a>
    </div>

</body>
</html>
